<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img [src]="bestShot">
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="full" [disabled]="!init" (click)="start()">
      <ion-spinner slot="start" *ngIf="!init else startRef"></ion-spinner>
      <ng-template #startRef>Start</ng-template>
    </ion-button>
  </ion-toolbar>
</ion-footer>
